@import "../../assets/scss/commons.scss";
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');



.Home {
  .title {
    position: relative;
    width: fit-content;
    padding-bottom: 24px;
    margin-bottom: 10vh;
    margin-top: 10vh;
    h1 {
      text-transform: uppercase;
      font-size: 44px;
      font-weight: 500;
      line-height: 55px;
    }
    p {
      font-size: 2rem;
      font-weight: 300;
    }

    &::before {
      content: "";
      position: absolute;
      width: 40%;
      height: 4px;
      background-color: black;
      bottom: 0;
      left: 0;
    }
  }
  .banner {
    width: 100%;
    height: 100vh;
    background-color: #ddd;
    position: relative;
    background-image: url("https://i.pinimg.com/564x/82/4d/9e/824d9e397b890e18dd9b92fb1cf9ee1d.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 14%;
    perspective: 180px;
    .banner-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url("https://media3.giphy.com/media/FSqYDfsdaiG9W/giphy.gif?cid=6c09b952nefjj5op7ccmj6yryogh6p0ofgnly2vrw3djvykj&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=g");
      opacity: 0.1;
      z-index: 2000;
    }

    .funny-text {
      position: absolute;
      font-size: 20px;
      transform: rotateY(3deg) skewY(7deg);
      transform-origin: center center;
      top: 34%;
      left: 136px;
      padding: 30px 30px;
      font-weight: 700;
      color: rgba(0, 0, 0, 0.905);
      width: 650px;
      height: 440px;
      display: flex;
      flex-direction: column;

      h2 {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 10px;
        color: #535353;
      }


      p:nth-child(3) {
        text-transform: initial;
        color: #535353;
      }

      ul {
        padding-left: 40px;
        margin-top: 8px;
        li {
          font-size: 14px;
          margin-bottom: 2px;
          color: #535353;
          font-weight: 400;
        }
      }

      .image {
        display: flex;
        width: 100%;
        margin-bottom: 80px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;

        }
      }
    }
    .sub-text {
      width: 200px;
      position: absolute;
      bottom: 10px;
      left: calc(50% - 100px);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      color: #f7e28f;
      text-transform: capitalize;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 0px 14%;
    }
  }
  .line {
    width: 100%;
    height: 1px;
    background-color: #ddd;
    margin: 0 auto;
  }
  .about {
    position: relative;
    padding: 100px 20px;
    .about-title {
      margin-bottom: 90px;
      h2 {
        font-size: 6.75rem;
        text-transform: uppercase;
        -webkit-text-stroke: 3px rgba(0, 0, 0, 0.85);
        -webkit-text-fill-color: white;
        -webkit-animation: fill 0.5s infinite alternate;
        line-height: 140px;
        color: black;
        text-align: center;
      }
      p {
        width: 100%;
        font-size: 1.25rem;
        text-align: center;
      }
    }
   

    .about-content {
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: center;
      margin-bottom: 10px;
      width: 800px;
      margin: 0 auto;
      position: relative;
      img  {
        width: 800px;
        margin: 0 auto;
        object-fit: cover;
        object-position: 0px -80px;
      }
      .text-content {
        width: 100%;
        margin: 0 auto;
        position: absolute;
        background-color: white;
        padding: 6% 10%;
        bottom: 0%;
        font-size: 1.25rem;
        z-index: 10;
        color: #1D2027;
      }
    }
  }
  .skills {
    position: relative;
    padding: 100px 20px;
    background-color: #1D2027;
    .skills-title {
      margin-bottom: 90px;
      h2 {
        font-size: 6.75rem;
        text-transform: uppercase;
        -webkit-text-stroke: 3px white;
        -webkit-text-fill-color: #1D2027;
        -webkit-animation: fill 0.5s infinite alternate;
        line-height: 140px;

        color: black;
        text-align: center;
      }
      p {
        width: 100%;
        font-size: 1.25rem;
        text-align: center;
        color: white;
 
      }
    }
   

    .skills-grid {
      display: flex;
      gap: 10px;
      justify-content: center;
      margin-bottom: 10px;
      .skill {
        width: 140px;
        height: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        background-color: #0E100F;
        i {
          font-size: 60px;
          color: white;
        }
        img {
          width: 100%;
          object-fit: contain;
          padding: 14px;
        }
      }
    }
  }
  .project {
    background: #ffffff;
    position: relative;
    padding: 90px 0px;
    overflow: hidden;

    .project-title {
      width: 100%;
      margin: 0 auto;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
     
      h2 {
        font-size: 6.75rem;
        text-transform: uppercase;
        -webkit-text-stroke: 3px #1D2027;
        -webkit-text-fill-color: #1D2027;
        -webkit-animation: fill 0.5s infinite alternate;
        color: black;
        line-height: 6.5rem;
        pointer-events: none;
        user-select: none;
      }
  
      h2:nth-child(2) {
        -webkit-text-stroke: 3px #1D2027;
        -webkit-text-fill-color: white;
        -webkit-animation: fill 0.5s infinite alternate;
        pointer-events: none;
        user-select: none;
      }
    }
  

    .board-grid {
      margin-top: 90px;
    }
    .board-grid-item {

      .image {
        width: 100%;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

}
